*{
    margin: 0;
    padding: 0;
}

h1{
    color: brown;
    font-size: 3rem;
    display: flex;
    justify-content: center;
}

ul{
    color: aquamarine;
    height: 200px;
    width: 200px;
    margin: 20px auto;
    background-color: brown;
    border: solid black 3px;
    align-items: center;
    /* text-align: center; */
    display: flex;
    justify-content: space-around;
    list-style: none;
    
}

